/* animations.css */

.animate-on-scroll {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.slide-in-up {
    transform: translateY(50px);
}

.animate-on-scroll.slide-in-left {
    transform: translateX(-50px);
}

.animate-on-scroll.slide-in-right {
    transform: translateX(50px);
}

.animate-on-scroll.fade-in {
    opacity: 0;
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0) translateX(0);
}
